@import './variable.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
  }
  
  .container {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding);
  }
  
  h1, h2, h3 {
    color: var(--secondary-color);
  }