.skills {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .skills h2 {
    margin-bottom: 1rem;
  }
  
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
  }
  
  .skill-item {
    background-color: white;
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }